/***********************/
/* HERO and NAVIGATION */
/***********************/

/* HEADER + NAVIGATION */

.header {
  /* border: 2px solid orangered; */
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  margin-left: 2.4em;
}

.main-nav {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 1.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* border: 2px solid burlywood; */
  margin-right: 3.2rem;
}

.main-nav-link {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  margin-inline: 1.8rem;
  color: #fff;
  padding-block: 0.8rem;
}

.main-nav .btn-fill {
  padding-inline: 1.6rem;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.main-nav-link:hover {
  border-bottom: 1px solid #fff;
}

/* HERO SECTION */

.section-hero {
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(50deg, #2a12b3, rgba(88, 208, 231, 0.9));
  margin-bottom: 8rem;

  position: relative;
}

.hero-container {
  max-width: 130rem;
  /* border: 3px solid red; */
  margin: 0 auto;
  padding: 3.2rem;
  padding-top: 4.8rem;

  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  align-items: center;
}

.hero-text {
  /* border: 3px solid greenyellow; */
  padding-block: 1.2rem;
  padding-inline: 2.4rem;

  position: relative;
}

.heading-primary {
  font-size: 7.4rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

.hero-para {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 4.8rem;
}

.hero-img img {
  width: 100%;
}

.line-1 {
  top: -14%;
  left: 5%;
}

/* HERO-BOTTOM */

.hero-bottom {
  width: 50rem;
  height: 12rem;
  background-color: #ffffff;
  border-radius: 24px;
  position: absolute;
  bottom: -6%;
  right: 3%;
  padding: 1.6rem 0 0 1.6rem;
  align-items: flex-start;

  display: flex;
  gap: 1.2rem;
}

.circle {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #ffcdcd;
  padding: 0.4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  justify-items: center;
  align-items: center;

  position: relative;
}

.small-circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: rgba(188, 101, 101, 0.65);
}

.sm-1 {
  position: absolute;
  top: 15%;
  right: 40%;
}

.sm-2 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.sm-3 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.bottom-text {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  text-align: center;
}

.bottom-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.arrow-sign span {
  display: inline-block;
  font-size: 3.2rem;
  padding-inline: 1.6rem;
}

.arrow-sign span:hover {
  cursor: pointer;
}

/*************************/
/* MIDDLE SECTION (CHAT) */
/*************************/

.section-chat {
  margin-bottom: 8rem;
}

.chat-container {
  width: 85%;
  /* border: 2px solid fuchsia; */
  margin: 0 auto;
}

.heading-secondary {
  font-size: 5.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.6rem;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.chat-description {
  font-size: 1.6rem;
  color: rgba(42, 55, 64, 0.35);
  /* border: 1px solid gold; */
  line-height: 1.6;

  padding: 0.8rem;
  width: 40%;
  margin: 0 auto;

  margin-bottom: 3.2rem;
}

.chat-img-container img {
  width: 100%;
}

/***************/
/* CTA SECTION */
/***************/

.section-cta {
  margin-bottom: 8rem;
}

.cta-container {
  width: 100%;
  min-height: 65rem;
  /* border: 2px solid rosybrown; */
  background-color: #1e71ff20;
  padding: 3.2rem 2.4rem;
  padding-left: 0;

  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.2rem;
}

.cta-img-container img {
  width: 100%;
}

.cta-text-container {
  /* border: 3px solid darkkhaki; */
  width: 90%;
  padding: 1.2rem 2.4rem;
  justify-self: center;

  position: relative;
}

.heading-tertiary {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  text-align: left;
}

.cta-description {
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  color: #2a3740;
}

.cta-btn {
  margin-bottom: 4.8rem;
}

.cta-btn-outline {
  color: #2a12b3;
  border: 2px solid #fff;
  transition: all 300ms ease-in;
}

.cta-btn-outline:hover,
.cta-btn-outline:active {
  color: #fff;
}

.rating-container {
  /* border: 1px solid #f6a428; */
  width: 85%;
  padding: 1.6rem 3.2rem 1.6rem 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  -webkit-box-align: center;
  align-items: center;
}

.rating-text {
  width: 60%;
  font-size: 1.2rem;
}

.line-2 {
  background-color: rgba(0, 94, 255, 0.2);
  bottom: 29%;
  left: 4%;
}

/******************/
/* FOOTER SECTION */
/******************/

.section-footer {
  margin-bottom: 4.8rem;
}

.footer-container {
  /* border: 2px solid lawngreen; */
  padding-inline: 2.4rem;

  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  margin-bottom: 4.8rem;
}

.footer-brand-text {
  font-size: 1.2rem;
  width: 65%;
  margin-top: 1.6rem;
  color: #2a3740ab;
}

.footer-links-heading {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.links-list a {
  display: inline-block;
}

.footer-link {
  font-size: 1rem;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:active {
  color: #005eff;
  text-decoration: underline;
}

/* COPYRIGHT */

.copyright-container {
  /* border: 2px solid chocolate; */

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.8rem;
}

.policy {
  display: flex;
  gap: 1.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.6rem;
}

.footer-icon {
  font-size: 2.4rem;
  color: #2a12b3;
}
